# backend/requirements.txt

# Core Django and API
Django==5.2.4
djangorestframework==3.16.0
dj-database-url==3.0.1
sqlparse==0.5.3

# Authentication
djangorestframework_simplejwt==5.5.0

# CORS for Frontend Communication
django-cors-headers==4.7.0

# Production Server and Database
gunicorn==23.0.0
psycopg2-binary==2.9.10
whitenoise==6.9.0

# Advanced Filtering
django-filter==24.2

# Image Uploads
django-cloudinary-storage==0.3.0
cloudinary==1.44.1

# Payment Gateway
stripe==12.3.0

# Environment Variables
python-dotenv==1.0.1
